@use '../app/app.scss' as var;

.header {
  height: 50px;
  // background-color: #ccc;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &_right {
    display: flex;
    align-items: center;
  }
}

