@use '../../../app/app.scss' as var;

.nav-link {
  text-decoration: none;
  color: var.$black;
  font-size: 18px;
  margin: 0 10px;

  &::after {
    content: '';
    display: block;
    opacity: 0;
    height: 3px;
    width: 100%;
    background-color: var.$main-color-opacity6;
    transition: 0.2s;
  }

  &:hover::after {
    opacity: 1;
  }
}