$main-color: rgb(247, 204, 126);
$main-color-opacity6: rgba(247, 204, 126, 0.6);
$main-color-opacity3: rgba(247, 204, 126, 0.3);
$bg-color: fff;
$second-color: #96d8ca;
$black: #323232;
$grey: #bdb0a7;
$red: #FF3333;

$container-width: 1400px;