.textbook {
  &_container {
    height: 80vh;
  }

  &_button {
    font-weight: 500;
    transition: 0.2s;
  }

  &_levels-list {
    margin: 20px 0 0 0;
  }

  &_words__title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
  }

  &_words__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
  }

  &_level__avatar { color: white; font-weight: 700; }

  &_words__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 15px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    transition: 0.2s;


    h4 {
      margin-bottom: 3px;
    }

    p {
      font-size: 14px;
    }
  }
}


button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  user-select: none;
}
