.statistic-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    &__header {
      display: flex;
      align-items: center;
      column-gap: 1em;
    }

  }

  &__actions {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
  }
};